<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mistakes.Properties.Settings.SWDATAConnectionString"
            connectionString="Data Source=srv-swmssql;Initial Catalog=SWDATA;User ID=audit;Password=audit"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>